# Data files
**/*.mat
**/*.fig
**/*.png
**/*.jpg
**/*.emf
**/*.eps
**/*.pdf
graphics/

# Exception for compiling TEX report
!images/*.png
!report/figures/*.png
!report/figures/*.jpg
!report/figures/*.eps

# Executables
**/*.exe

# Built binaries
**/*.bin
**/*.elf
**/*.hex
